# ansible managed
[Desktop Entry]
Encoding=UTF-8
Name=IntelliJ IDEA
Comment=IntelliJ IDEA
Exec={{ intellij_location }}/bin/idea.sh
Icon={{ intellij_location }}/bin/idea.png
Terminal=false
StartupNotify=true
Type=Application